#applicationcontainer{
    width: 100%;
    height: 100%;
}
.centerAlign{
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right:0;
    margin: auto;
}

.centerAilgnText{
    text-align: center;
}
.noDisplay{
    display: none;
}

.maincontainer{
    width: 70%;
    height: 80%;
    margin-top: 80px;
    background-color: #E6E6E6;


}

#addcontainer{
    height:10%;
}

#employeelistcontainer{
    height: 90%;
}
#addBtn{
    width: 80px;
    height: 50px;
    float: right;
}

