.centerAlign{
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right:0;
    margin: auto;
}

.centerAilgnText{
    text-align: center;
}
.noDisplay{
    display: none;
}

.btnmargin{
    margin-left: 105px;
}
